@import './base.css';


@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&amp;family=Poppins:wght@700&amp;display=swap');



:root{
    --main-color:#4C7A60;
}

*{
    font-family: 'Poppins',sans-serif;
}

.link{
    color: #000;
    text-decoration: none;
}